header {
  background-color: #DDA853;
  height: 50px;
  display: flex;  
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  text-shadow: 1px 1px 2px black;
  
}

body {
  background-color: #417d85;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  margin: 0;

}
.body {
  width: 400px;
  display: block;
  margin: auto;
  padding: 5px;
}



.container{
  margin-top: 100px;
  border-radius: 5px;
  background-color: #DDA853;
}

.input{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.input > input {
  width: 80%;
  border: none;
  background-color: #DDA853;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 5px;
}

.container > ul{
  background-color: #DDA853;
  border-radius: 5px;
}


.input {
  min-width: 400px;
}

.list{
  width: 100%;
  background-color:#417d85;

}


